{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list simpletags%} <!--不会继承，需要再次添加-->

{% block search %}
    <div class="page-header">
        <el-page-header @back="goBack" content="属性"/>
    </div>
    <style type="text/css">
        .page-header {
            padding: 10px;
        }
    </style>
    <script type="text/javascript">
        new Vue({
            el: '.page-header',
            methods: {
                goBack: function () {
                    window.location.href = '/admin/config/sysclass'
                }
            }
        });
        if (document.getElementById('alert')) {
            new Vue({
                el: '#alert'
            })
        }
    </script>

    {% search_form cl %}
{% endblock %}



